body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #FFFFFF;
    border: 15px solid #EAD7D7;
    /* Soft pinkish border */
    background-color: #1A1A1A;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    position: relative;
}

.header-logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    /* Adjust size as necessary */
}

.audio-container {
    padding-top: 70px;
    flex: 1;
    /* Ensures that this section takes up available space */
}

.title {
    margin-bottom: 30px;
    color: #EAD7D7;
}

.title h2,
.title h3 {
    margin: 0;
}

#title-hebrew {
    font-size: 36px;
    font-weight: bold;
}

#title-english {
    font-size: 24px;
    font-weight: normal;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

#audio-players {
    background-color: #EAD7D7;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 70px;
}

audio {
    background-color: #EAD7D7;
    width: 100%;
    margin: 0;
    /* No margin to ensure no gaps between audio players */
}

audio::-webkit-media-controls-download-button {
    display: none;
}

audio::-webkit-media-controls-enclosure {
    background-color: #EAD7D7;
}

audio::-webkit-media-controls-panel {
    background-color: #EAD7D7;
    color: #000;
}